*
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar
{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    width: 100%;
}

.nav-logo
{
    height: 50px;
    width: 100px;
    padding-left: 10PX;
}


.logo
{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border
{
    border:1.5px solid transparent;
}

.border:hover
{
    border: 2px solid white;
}


/* box2 */
.add-first
{
    color:#cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
    margin-top: 5px;
}

.add-second
{
font-size: 1rem;
margin-left: 3px;
}

.add-icon
{
    display: flex;
    text-align: center;
    
}


/* box3 */

.nav-search
{
    display: flex;
    background-color: pink;
    width: 1100px;
    height: 40px;
    border-radius: 3px;
    justify-content: space-evenly;
}

.search-select
{
    background-color: #f3f3f3;
    width: 70px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input
{
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon
{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: yellow;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box4 */
span{
    font-size: 14px;
}
.nav-second
{
    font-size: 10px;
    font-weight: 700
    ;
}


/* box6 */

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    padding-right: 50px;
    font-size: 20px;
    font-weight: 700;
}


/* panel */
.panel{
    height: 40px;
    display: flex;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.panel-ops p{
    display: inline;
    margin-left: 20px;
    
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.95rem;
    font-weight: 700;
}

/* hero-section */
.hero-section{
    background-image: url("hero_image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}


.hero-message
{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin: 25px;

}
.hero-message p{
    font-size: 15px;
    font-weight: bold;
}
.hero-message a{
    color: #007185;
    cursor: pointer;
}


/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box
{
    height: 420px;
    width: 23%;
    background-color: whitesmoke;
    padding: 20px 0px 15px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.box:hover {
    transform: scale(1.10);
}
.box-img{
    height: 350px;
    background: no-repeat;
    background-size: cover;
    margin-top: 3px;
    margin-bottom: 3px;
}

    .box-content
    {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .box-content p{
        text-transform: uppercase;
        text-align: center;
        color: #007185;
        margin-bottom: 10px;
        cursor: pointer;
        font-weight: bold;
        
    }




    /*footer*/
    .footer{
        margin-top: 15px;
    }
    .foot-panel1{
        background-color: #37475a;
        color: white;
        height: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: medium;
    }



    .foot-panel2{
        background-color: #222f3d;
        color: white;
        height: 400px;
        display: flex;
        justify-content: space-evenly;
    }

li{
    list-style: none;
}
    ul a{
        display: block;
        font-size: 15px;
        margin-top: 10px;
        color: #dddddd;
        
    }

    ul{
        margin-top: 20px;

    }


    .foot-panel3{
        background-color: #222f3d;
        color: white;
        border-top: 0.5px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    .logo
    {
        background-image: url("amazon_logo.png");
        background-size: cover;
        height: 50px;
        width: 100px;
    }


    .foot-panel4{
        background-color: #0f1111;
        color: white;
        height: 100px;
        
    }

    .page{
        font-size: 12px;
        text-align: center;
        padding: 25px;

    }

    .copyright{
        font-size: 12px;
        text-align: center;
        margin-top: 5px;

    }
